USE [master]
GO
/****** Object:  Database [MyShop]    Script Date: 22/12/2023 5:05:22 CH ******/
CREATE DATABASE [MyShop]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MyShop', FILENAME = N'D:\PROGRAM FILES\Microsoft SQL Server\MSSQL16.MYSQLDEMO\MSSQL\DATA\MyShop.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MyShop_log', FILENAME = N'D:\PROGRAM FILES\Microsoft SQL Server\MSSQL16.MYSQLDEMO\MSSQL\DATA\MyShop_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MyShop].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MyShop]
GO
/****** Object:  Table [dbo].[Accounts]    Script Date: 22/12/2023 5:05:22 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Accounts](
	[AccId] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](100) NULL,
	[Password] [nvarchar](100) NULL,
	[Role] [nvarchar](100) NULL,
 CONSTRAINT [PK_Accounts] PRIMARY KEY CLUSTERED 
(
	[AccId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 22/12/2023 5:05:22 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[CatId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
	[Description] [nvarchar](500) NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[CatId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 22/12/2023 5:05:22 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[CusId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
	[Tel] [int] NULL,
	[Address] [nvarchar](100) NULL,
	[Email] [nvarchar](100) NULL,
 CONSTRAINT [PK_Customers] PRIMARY KEY CLUSTERED 
(
	[CusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetails]    Script Date: 22/12/2023 5:05:22 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetails](
	[OrdDetId] [int] IDENTITY(1,1) NOT NULL,
	[OrdId] [int] NULL,
	[ProId] [int] NULL,
	[Quantity] [int] NULL,
	[PricePerItem] [int] NULL,
	[ProfitPerItem] [int] NULL,
 CONSTRAINT [PK_OrderDetails] PRIMARY KEY CLUSTERED 
(
	[OrdDetId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 22/12/2023 5:05:22 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrdId] [int] IDENTITY(1,1) NOT NULL,
	[CusId] [int] NULL,
	[FinalPrice] [int] NULL,
	[FinalProfit] [int] NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
 CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED 
(
	[OrdId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 22/12/2023 5:05:22 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ProId] [int] IDENTITY(1,1) NOT NULL,
	[CatId] [int] NULL,
	[Title] [nvarchar](100) NULL,
	[Description] [nvarchar](500) NULL,
	[Author] [nvarchar](100) NULL,
	[PublishedYear] [int] NULL,
	[Quantity] [int] NULL,
	[OriginalPrice] [int] NULL,
	[SellingPrice] [int] NULL,
	[ImagePath] [nvarchar](100) NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
	[PromId] [int] NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[ProId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Promotions]    Script Date: 22/12/2023 5:05:22 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Promotions](
	[PromId] [int] IDENTITY(1,1) NOT NULL,
	[Detail] [nvarchar](200) NULL,
	[DiscountPercent] [int] NULL,
 CONSTRAINT [PK_Promotes] PRIMARY KEY CLUSTERED 
(
	[PromId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Accounts] ON 

INSERT [dbo].[Accounts] ([AccId], [Username], [Password], [Role]) VALUES (1, N'admin', N'1', N'admin')
INSERT [dbo].[Accounts] ([AccId], [Username], [Password], [Role]) VALUES (2, N'sale1', N'1', N'sale')
INSERT [dbo].[Accounts] ([AccId], [Username], [Password], [Role]) VALUES (3, N'sale2', N'1', N'sale')
SET IDENTITY_INSERT [dbo].[Accounts] OFF
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([CatId], [Name], [Description]) VALUES (1, N'Arts & Music', N'Delve into the vibrant worlds of color and sound! Explore the history, theory, and techniques of various art forms, weaving through musical melodies and captivating canvases. Immerse yourself in the creative process, understanding the emotions and inspirations behind stunning creations.')
INSERT [dbo].[Categories] ([CatId], [Name], [Description]) VALUES (2, N'Biographies', N'Biographies unveil the remarkable journeys of individuals, weaving the tapestry of personal experiences with societal contexts, offering windows into fascinating lives and sparking reflection on our own paths.')
INSERT [dbo].[Categories] ([CatId], [Name], [Description]) VALUES (3, N'Business', N'Descript dives deep into the world of business storytelling, revealing strategies and tools to craft compelling video narratives that capture attention, build trust, and drive results for your brand.')
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[Customers] ON 

INSERT [dbo].[Customers] ([CusId], [Name], [Tel], [Address], [Email]) VALUES (1, N'Johnson', NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Customers] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderDetails] ON 

INSERT [dbo].[OrderDetails] ([OrdDetId], [OrdId], [ProId], [Quantity], [PricePerItem], [ProfitPerItem]) VALUES (4, 1, 10, 1, 200000, 20000)
INSERT [dbo].[OrderDetails] ([OrdDetId], [OrdId], [ProId], [Quantity], [PricePerItem], [ProfitPerItem]) VALUES (7, 1, 3, 1, 160000, 20000)
INSERT [dbo].[OrderDetails] ([OrdDetId], [OrdId], [ProId], [Quantity], [PricePerItem], [ProfitPerItem]) VALUES (8, 1, 5, 1, 120000, 20000)
SET IDENTITY_INSERT [dbo].[OrderDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([OrdId], [CusId], [FinalPrice], [FinalProfit], [CreatedAt], [UpdatedAt]) VALUES (1, NULL, 3133294, 852294, CAST(N'2023-12-18T00:00:00.000' AS DateTime), CAST(N'2023-12-18T00:00:00.000' AS DateTime))
INSERT [dbo].[Orders] ([OrdId], [CusId], [FinalPrice], [FinalProfit], [CreatedAt], [UpdatedAt]) VALUES (42, NULL, 2597000, 397000, CAST(N'2023-12-22T11:16:36.510' AS DateTime), CAST(N'2023-12-22T13:16:36.510' AS DateTime))
INSERT [dbo].[Orders] ([OrdId], [CusId], [FinalPrice], [FinalProfit], [CreatedAt], [UpdatedAt]) VALUES (45, NULL, 0, 0, CAST(N'2023-12-20T13:17:24.817' AS DateTime), CAST(N'2023-12-22T13:17:24.817' AS DateTime))
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[Promotions] ON 

INSERT [dbo].[Promotions] ([PromId], [Detail], [DiscountPercent]) VALUES (1, N'Fahasa', 5)
INSERT [dbo].[Promotions] ([PromId], [Detail], [DiscountPercent]) VALUES (2, N'Shopee', 10)
INSERT [dbo].[Promotions] ([PromId], [Detail], [DiscountPercent]) VALUES (3, N'Tiki', 5)
SET IDENTITY_INSERT [dbo].[Promotions] OFF
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetails_Orders] FOREIGN KEY([OrdId])
REFERENCES [dbo].[Orders] ([OrdId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_OrderDetails_Orders]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetails_Products] FOREIGN KEY([ProId])
REFERENCES [dbo].[Products] ([ProId])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_OrderDetails_Products]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Customers] FOREIGN KEY([CusId])
REFERENCES [dbo].[Customers] ([CusId])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Customers]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Categories] FOREIGN KEY([CatId])
REFERENCES [dbo].[Categories] ([CatId])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Categories]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Promotions] FOREIGN KEY([PromId])
REFERENCES [dbo].[Promotions] ([PromId])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Promotions]
GO
USE [master]
GO
